<nav id="sidebar">
        <div class="sidebar-header">
            <center>
                <h6>Biemvemnido</h6>
                <img src="{{view_image}}" alt="logo" class="rounded" style="width: 160px;">
            </center>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/pacientes" class="navitem {{setActive ruta 'pacientes'}}">Pamcientes</a>
            </li>
            <li>
                <a href="/medicos" class="navitem {{setActive ruta 'medicos'}}">Memdicos</a>
            </li>
            <li>
                <a href="#" class="navitem {{setActive ruta 'turnos'}}">Turmnos</a>
            </li>
            <li>
                <a href="#" class="navitem {{setActive ruta 'turnos'}}">Cimtas</a>
            </li>
            <li>
                <a href="/duenos" class="navitem {{setActive ruta 'duenos'}}">Duemños</a>
            </li>
            <li>
                <a href="#" class="navitem {{setActive ruta 'enfermedades'}}">Enfermedamdes</a>
            </li>
            <li>
                <a href="#" class="navitem {{setActive ruta 'cirugias'}}">Cimrugias</a>
            </li>
            <li>
                <a href="/reporte" class="navitem {{setActive ruta 'reporte'}}">Remporte de cimtas</a>
            </li>
        </ul>

        <div class="text-center" style="margin-top: 10vh;">
            Made with 
            <br>
            <i class="nes-icon heart"></i>
            <br>
            by <a href="https://urienix.moe" class="navitem" target="_blank">urienix</a> 
        </div>
    </nav>